{% extends "undata/base.html" %}

{% block content %}

{% include 'undata/nav.html' %}

<h5><u>Problem 2 - Data Analysis</u></h5>


<form>

    <label for="group">Grouping </label>

    <select id="group">
        {% for group in countries %}
        <option value="{{ group }}">{{ group|upper }}</option>
        {% endfor %}
    </select>

    <label for="year">Year </label>

    <select id="year">
        {% for item in years %}
        <option value="{{ item.year }}">{{ item.year }}</option>
        {% endfor %}
    </select>

    <button type="button" onclick="prepAseanChart()">Display Chart</button>
</form>

{% endblock %}