{% extends "undata/base.html" %}

{% block content %}

{% include 'undata/nav.html' %}

<h5><u>Problem 1 - Data Analysis</u></h5>

<form>

    <label for="country">Country </label>

    <select id="country">
        {% for country in countries %}
        <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
    </select>

    <label for="year">Start Year </label>

    <select id="year">
        {% for item in years %}
        <option value="{{ item.year }}">{{ item.year }}</option>
        {% endfor %}
    </select>


    <label for="range">Range </label>

    <select id="range">
        {% for entry in range %}
        <option value="{{ entry }}">{{ entry }}</option>
        {% endfor %}
    </select>

    <button type="button" onclick="problem1Chart()">Display Chart</button>
</form>


{% endblock %}