{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>UN Data PROJECT</title>

    <link rel="stylesheet" href="{% static 'undata/css/main.css' %}">
    <script type="text/javascript" src="{% static 'undata/script.js' %}"></script>
    <script src=" https://code.highcharts.com/highcharts.js"> </script>
</head>

<body>
    <!-- 
    <h4 class="heading">Population Data Analysis</h4> -->

    <!--  buttons for navigation -->

    <form method="POST" action="prepIndiaChart()">

        <label for="group">Grouping </label>

        <select id="group">
            {% for group in groups %}
            <option value="{{ group }}">{{ group|upper }}</option>
            {% endfor %}
        </select>

        <label for="year">Start Year </label>

        <select id="year">
            {% for item in years %}
            <option value="{{ item.year }}">{{ item.year }}</option>
            {% endfor %}
        </select>


        <button type="button" onclick="prepAseanGroupChart()">Display Chart</button>
    </form>


    <div id="container"></div>

</body>

</html>